@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
body{
    background-color: hsl(210, 46%, 95%);
}
*{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5em 10vw;
    gap: 2em;
}
.testimonial-wrapper{
    padding: 2em;
    border-radius: 1em;
    position: relative;
    display: table-cell;

}
.title{
    display: flex;

}
.title-text{
    margin-left: 1em;
}
.img{
    width: 3em;
    height: 3em;
    border: hsl(263, 59%, 62%) 4px solid;
    border-radius: 100%;
}
.pattern{
    position: absolute;
    right: 7.5em;
    top: 0;
    scale: 1.5;
    transform: translateY(17.5%);
}
.testimonial-wrapper:nth-child(1){
    background: hsl(263, 55%, 52%);
    color: white;
    grid-column-start: span 2;
}
.testimonial-wrapper:nth-child(2){
    color: white;
    background-color: hsl(217, 19%, 35%);
}
.testimonial-wrapper:nth-child(3){
    grid-row-start: span 2;
    color: hsl(219, 29%, 14%);
    background: white;

}
.testimonial-wrapper:nth-child(4){
        color: hsl(219, 29%, 14%);
    background: white;
}
.testimonial-wrapper:nth-child(5){
    grid-column-start: span 2;
    color: white;
    background: hsl(219, 29%, 14%);
}

h1{
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.25em;
}
h2{
    font-size: 0.9em;
    font-weight: 500;

    margin: 0;
}
h3{
    margin-top: auto;
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: .5em;
    position: relative;
    z-index: 3;
}   
p{
    font-size: 1.1em;
    opacity: .5;
    position: relative;
    vertical-align: bottom;
}
.testimonial-subtitle{
    opacity: .5;
}
@media screen and (max-width:1024px) {
    #container{
        display: flex;
        flex-wrap: wrap;
        padding: auto ;
        margin: 5em 5em;
        gap: 2em;
    }  
    .testimonial-wrapper{
        width: 100%;
    }
}